#root {
  padding: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  flex-direction: column;
  
}

.outer-div{  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 100vw;
}

.upper{
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.lower{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.text-component{
  background-color: beige;
  color: midnightblue;
  
  border-radius: 8px;
  padding: 1rem;

  display: flex ;
  flex-direction: column;

}

.textbox{
  border: 1px solid midnightblue;
  border-radius: 8px;
  padding: 1rem; 
}